.container-card {
  /*  border: solid blueviolet; */
  height: 100%;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: 1s;
  //
  animation: fadeIn ease 0.8s;
  -webkit-animation: fadeIn ease 0.8s;
  -moz-animation: fadeIn ease 0.8s;
  -o-animation: fadeIn ease 0.8s;
  -ms-animation: fadeIn ease 0.8s;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  &:hover {
    opacity: 0.8;
  }
}

.container-img {
  height: 90%;
}

.container-card img {
  width: 100%;
  height: 100%;

  object-fit: contain;
  background-attachment: fixed;
}

.container-card h3 {
  text-align: center;
  word-wrap: break-word;
  margin: 0.2rem 0;
  font-size: 15px;
}
