.container-detail-movie {
  /* border: solid red; */
  width: 90%;
  height: 100vh;
  margin: 0 auto;

  & .container-btn-home {
    color: #fff;
    margin: 0.3rem;
    padding: 7px;
    background-color: var(--primary-Pale-blue);
    width: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  & .img-detail-movie {
    width: 100%;
  }
  & h2 {
    margin: 1rem 0;
    text-align: center;
  }
  & .overview {
    padding: 0.2rem;
    text-align: justify;
    & span {
      font-weight: 800;
      text-transform: capitalize;
    }
  }

  & .info-list li {
    list-style: none;
    margin: 0.5rem 0;
    & span {
      text-transform: capitalize;
      font-weight: 600;
    }
  }
  & .genres {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0;
    & li {
      margin: 0.3rem;
      padding: 7px;
      background-color: var(--primary-Pale-blue);
      width: 100px;
      list-style: none;
      text-align: center;
    }
  }
}
