.sidebar {
  grid-area: sidebar;
  /* border: solid red; */
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
  background-color: rgba(224, 232, 255, 0.033);
  @media (min-width: 600px) {
    font-size: 14px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6rem;
    padding: 0.5rem;
  }
  & .btn-sidebar {
    background-color: transparent;
    /* width: 100%; */

    border: 0;
    color: #fff;
    cursor: pointer;
  }
}

.sidebar button {
  display: flex;
  align-items: center;
  @media (min-width: 600px) {
    margin: 0.5rem 0;
  }
}

.sidebar button span {
  display: none;
  @media (min-width: 500px) {
    display: block;
    margin-left: 0.5rem;
    text-align: center;
  }
}
