.footer {
  grid-area: footer;
  /* border: solid violet; */
  width: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  & .container-social-media {
    display: flex;
    gap: 0.5rem;
  }
  & hr {
    width: 100%;
    border: 1px solid var(--primary-Pale-blue);
  }
}

.footer h5 {
  text-align: center;
  text-transform: capitalize;
}
