.container-carrusel {
  /*   border: solid red; */
  width: 100%;
  position: relative;
  overflow: hidden;
  /* border: solid red; */
  height: 100%;
  margin: 0 auto;
  grid-area: carrusel;
}

.image-carrusel {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: 1s;
  &.loaded {
    opacity: 1;
  }
}

.arrow-carrusel {
  position: absolute;
  background-color: transparent;
  border: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 8%;
  cursor: pointer;
  height: 10%;
  color: var(--neutral-Very-pale-blue);
  &.left {
    left: 2px;
    /* border: solid greenyellow; */
  }
  &.right {
    right: 5px;
  }
  @media (min-width: 400px) {
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
  }
}
