.container-form {
  width: 12rem;
  height: 70%;
  display: flex;
  align-items: center;
  /* border: solid pink; */
  @media (min-width: 620px) {
    width: 19rem;
  }
}

.container-form input {
  width: 100%;
  background-color: var(--primary-Pale-blue);
  color: #fff;
  height: 60%;
  border: 0;
  outline: none;
  padding: 1rem 0.5rem;
}

.sistrix {
  background-color: var(--primary-Pale-blue);
  color: #fff;
  height: 60%;
  display: flex;
  padding: 0 0.3rem 0 0;
  flex-direction: column;
  justify-content: center;
}
