.app {
  width: 90%;
  margin: 0 auto;
  /* border: solid yellow; */
  display: grid;
  gap: 10px;
  grid-template:
    'headerContainer' 100px
    'carrusel' 250px
    'sidebar' 100px
    'pagination' 100px
    'main' auto
    'footer' 100px;
}

@media (min-width: 600px) {
  .app {
    grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px;
    grid-template:
      'headerContainer headerContainer' 100px
      'carrusel carrusel' 250px
      'sidebar pagination' auto
      'sidebar main' auto
      /* 'sidebar pagination' auto */
      'footer footer' 100px /
      200px auto;
  }
}

@media (min-width: 900px) {
  .app {
    grid-template:
      'headerContainer headerContainer headerContainer' 100px
      'carrusel carrusel carrusel' 350px
      'sidebar pagination pagination' auto
      'sidebar  main main' auto
      /* 'sidebar pagination pagination' auto */
      'footer footer footer' 100px /
      200px auto 200px;
  }
}
